/*
    this is the contributors style sheet please marge every changes and updates  here 
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color: rgb(26, 120, 209); 
    --wit: 10em;
    --hight: 50px;
    --line: rgb(178, 178, 224);
    --hove: rgb(0, 183, 255);

}

body #cont {
    display: flex;
    justify-content: center;
}
/* button style*/
body #cont > button {
    background-color: var(--color);
    width:var(--wit);
    height: var(--hight);
    border: 1px solid var(--line);
    cursor: pointer;
}
/* hover effect for the button */
body #cont > button:hover{
    background-color: var(--hove);
    font-weight: bold;
    font-size: 14px;
   
}
/* obiabo's contribution +/